*{margin: 0;
    padding: 0;
  }
  
  body{background: url(../login.jpg) no-repeat center center fixed;
       background-size: cover;
       background-attachment: fixed;
       font-family: 'Roboto', sans-serif;
      }
  
  
  
  .login-box{width: 350px;
      height: 400px;
      background: rgba(0, 0, 0, 0.8);
      color: #f2f2f2;
      top: 55%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      padding: 70px 30px; 
      border-radius: 20px;
  
  }
  
  .login-box h1{margin-bottom: 30px;
                padding: 0;
                text-align: center;
                font-size:35px ;
  }
  .login-box label{margin: 0;
                  padding: 0;
                  display: block;
                  font-size:23px ;
  }
   .login-box input{width: 100%;
                    margin-bottom: 30px;
  }
  .login-box input[type= "text"],
  .login-box input[type= "password"]{
      border: none;
      border-bottom:1px solid #fff;
      background: transparent;
      outline:none ;
      height: 27px;
      color: #fff;
      font-size:16px;
      
  
  
  }
  
  .login-box input[type="submit"]{border: none;
         outline:none;
         height: 35px;
         background: yellow;
         color: black;
         font-size: 16px;
         border-radius: 20px;
         margin: 3px 0 10px 0;
  }
  
  .login-box input:hover[type="submit"]{
        background: black;
        color: yellow;
      
      }
  
  .login-box a{text-align: center;
               text-decoration: none;
               font-size: 18px;
               color: darkgrey;
               line-height: 30px;
               display: block;
  }    
  
  .login-box a:hover{color: white;
                     font-size: 22px;
  }