*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{font-family: 'Roboto', sans-serif;
      background: #ffeed2;

}
/* body::-webkit-scrollbar{
      position: relative;
      width: 10px;
      
}
 body::-webkit-scrollbar-thumb{
   
      background-color:yellow ;
}*/



nav{
      background: #ffeed2;
      height: 50px;
      width: 100%;
}
label.logo{
      color: #000000;   
      font-size: 45px;
      line-height: 70px;
      padding: 0 100px;
      font-weight: bold;
}
nav ul{
      float: right;
      margin-right: 20px;
}
nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
}
nav ul li a{
      color: #000000;   
      font-size: 18px;
      padding: 7px 15px;
      border-radius: 20px;
      text-transform: uppercase;
      text-decoration: none;
}
a.active,a:hover{
      background: rgba(0, 0, 0, 0.6);
      transition: .5s;
      color: white;
      font-size: 19px;
}
.checkbtn{
      font-size: 30px;
      color: #000000;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
}
#check{
      display: none;
}


main {margin: 0 ;
      width: 100%;
      height: auto;
      padding: 0;
}

.portada img{max-width: 100%;
             width: 1350px; 
             margin: 0;   
}

section{background: #fff7f1;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        
        
}
.contenedor{position: relative;
            width: 350px;
            height: 450px;
            margin: 20px 25px;
            display: flex;
            align-items: center; 
                      
           
}

.contenedor img{width: 360;
                height: 450px;
                max-width: 375;
                border-radius: 15px;
}

.contenedor .dias h2{margin-bottom: 20px;
                     margin-top: 35px;
                     
}

.dias{position: absolute;
      font-size: 26px;
      color: black;
      text-align: center;
}
hr{margin: 19px 0;
   height: 1.5px;
   max-width:100%;
   background-color: black;    
}


.dias a{
      background: white;
      color: black;   
      font-size: 20px;
      padding: 7px 15px;
      border-radius: 20px;
      text-transform: uppercase;
      text-decoration: none;
      

}

.dias a:hover{background: black;
               color: white;
               font-size: 22px;

} 





aside{background: #fff7f1;
      width: 100%;
      height: 400px;
      max-height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
     
}
.publicidad{width: 100%;
            max-height: 100%;
            height:auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            
}


.informacion{width: 600px;
             height: 350px;
             display: flex;
             flex-wrap: wrap;
             background: #f2f2f2; 
}

.video{width: 800px;
       max-width: 100%;
       height: 400px;
       max-height: 100%;
       border: 1px solid black;
       border-radius: 10px;
}


.ubicacion{width: 100%;
           height: 500px;
           display: flex;
           flex-wrap: wrap;
           color: black;
           background: rgba(0, 0, 0, 0.8);
}

.gps{margin: 40px 50px;
     width: 1360px;
     max-width: 100%;
     border: 3px solid black;
}

footer{background: #ffeed2; 
       width:100%;
       height:300px;
       display: flex;
       align-items: center;
}


.formulario h4{font-size: 30px;
               margin-bottom:10px ;
}
.formulario p{font-size: 18px;}

.formulario{display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 250px;
            background: #ffeed2;
            align-items: center;                
}


.formulario a{
      text-decoration: none;
      text-align: center;
      background: black;
      width: 320px;
      height: 40px;
      border: 1px solid whit;
      border-radius: 10px; 
      font-size: 25px;
      margin: 30px 0 7px 0 ; 
      color: white;          
}

.formulario a:hover {background:black;
             color:yellow; 
             font-size: 23px;
             transition: .5s;
 }

 .formulario .social a{color: black;
                       background: #ffeed2;
                       margin: 15px 10px;
}
         



/* media que------------------------------------------------*/

@media (max-width: 1130px){
      aside{background: #e7dfd5;
            width: 100%;
            height: 800px;
            max-height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            }

.informacion{width: 750px;
                  height: 350px;
                  max-height: 100%;
                  margin: 20px 0;
                  display: flex;
                  flex-wrap: wrap;
                  background: #f2f2f2; 
     }               

}



@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
      
    }
    nav ul li a{
      font-size: 16px;
      color: black;
      
    }
aside{background: #e7dfd5;
      width: 100%;
      height: 550px;
      max-height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      }



.informacion{width: 550px;
             height: 250px;
             max-height: 100%;
             margin: 10px 0;
             display: flex;
             flex-wrap: wrap;
             background: #f2f2f2; 
}   



}



  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }

    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #ffeed2;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 3;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 18px;
    }

    a:hover,a.active{
      background: none;
      color: #0082e6;


      
    }
    #check:checked ~ ul{
      left: 0;
    }
    label.logo{
      font-size: 25px;
      padding-left: 50px;
      
    }


    aside{background: #e7dfd5;
      width: 100%;
      height: 550px;
      max-height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      }

      .informacion{width: 450px;
            height: 250px;
            max-height: 100%;
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            background: #f2f2f2; 
}         


  }


  @media (max-width: 520px){

      section{background: #fff7f1;
           
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            
            
    }

      

      .contenedor{position: relative;
            width: 250px;
            height: 350px;
            margin: 10px 5px;
            display: flex;
            align-items: center; 
                      
           
}

.contenedor img{width: 250px;
                height: 350px;
                border-radius: 15px;
}

.contenedor .dias h2{margin-bottom: 10px;
                     margin-top: 25px;
                     
}

.dias{position: absolute;
      font-size: 23px;
      margin: 0 0 0 20px;
      color: black;
      text-align: center;
}
hr{margin: 7px 0;
   height: 1.5px;
   max-width:100%;
   background-color: black;    
}

.dias a{
      background: white;
      color: black;   
      font-size: 20px;
      padding: 8px 40px;
      border-radius: 20px;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 25px;
      

}




aside{background: #fff7f1;
      width: 550px;
      height: 500px;
      margin-left: 33px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
}



.publicidad{width: 400px;
       display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      background: #ffeed2;
      
}


.informacion{width: 400px;
       display: flex;
       flex-wrap: wrap;
       background: #ffeed2;
        
}

.video{width: 300px;
       height: 250px;
       border: 1px solid black;
       border-radius: 10px;
}






.ubicacion{width: 400px;
      height: 500px;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      color: black;
      background: rgba(0, 0, 0, 0.8);
}

.gps{margin: 40px 0  40px 20px;
      width: 320px;
     
      border: 3px solid black;
 }
 
 footer{background: #ffeed2; 
        width:300px;
        height:300px;
        display: flex;
        align-items: center;
        
 }
 

 .formulario{display: flex;
      flex-direction: column;
      align-items: center;
      width: 280px;
      height: 250px;
      background: #ffeed2;
      align-items: center;  
      margin-top: 15px;              
}



.formulario h4{font-size: 25px;
         margin-left: 40px;
}


 .formulario p{font-size: 17px;
              margin-left: 50px;
}



.formulario a{
      text-decoration: none;
      text-align: center;
      background: black;
      width: 280px;
      height: 50px;
      border: 1px solid whit;
      border-radius: 10px; 
      font-size: 25px;
      margin: 15px 0 ; 
      margin-left: 35px;
      color: white;          
}


.formulario h3{margin: 0 0 10px 23px;
}

.social{margin-left: 23px;}



.formulario a:hover {background:black;
             color:yellow; 
             font-size: 23px;
             transition: .5s;
 }





  }









  @media (max-width: 358px){

      .portada{width: 380px;
      }

      footer{background: #fff7f1; 
            width:350px;
            max-width: 100%;
            height:230px;
            display: flex;
            align-items: center;
     }
     
     .formulario{display: flex;
                 flex-direction: column;
                 align-items: center;
                 width: 350px;
                 height: 200px;
                 background: #fff7f1;
                 align-items: center;                
     }



  }

  @media (max-width: 320px){

      section{background: #fff7f1;
           
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            
            
    }

      

      .contenedor{position: relative;
            width: 250px;
            height: 350px;
            margin: 10px 5px;
            display: flex;
            align-items: center; 
                      
           
}

.contenedor img{width: 250px;
                height: 350px;
                border-radius: 15px;
}

.contenedor .dias h2{margin-bottom: 10px;
                     margin-top: 25px;
                     
}

.dias{position: absolute;
      font-size: 23px;
      margin: 0 0 0 20px;
      color: black;
      text-align: center;
}
hr{margin: 7px 0;
   height: 1.5px;
   max-width:100%;
   background-color: black;    
}

.dias a{
      background: white;
      color: black;   
      font-size: 20px;
      padding: 8px 40px;
      border-radius: 20px;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 25px;
      

}




aside{background: #fff7f1;
      width: 400px;
      height: 500px;
      margin-left: 33px;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
}



.publicidad{width: 350px;
       display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      background: #ffeed2;
      
}


.informacion{width: 350px;
       display: flex;
       flex-wrap: wrap;
       background: #ffeed2;
        
}

.video{width: 250px;
       height: 200px;
       border: 1px solid black;
       border-radius: 10px;
}






.ubicacion{width: 400px;
      height: 500px;
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      color: black;
      background: rgba(0, 0, 0, 0.8);
}

.gps{margin: 40px 0  40px 20px;
      width: 280px;
     
      border: 3px solid black;
 }
 
 footer{background: #ffeed2; 
        width:300px;
        height:300px;
        display: flex;
        align-items: center;
        
 }
 

 .formulario{display: flex;
      flex-direction: column;
      align-items: center;
      width: 280px;
      height: 250px;
      background: #ffeed2;
      align-items: center;  
      margin-top: 15px;              
}



.formulario h4{font-size: 25px;
         margin-left: 40px;
}


 .formulario p{font-size: 17px;
              margin-left: 50px;
}



.formulario a{
      text-decoration: none;
      text-align: center;
      background: black;
      width: 280px;
      height: 50px;
      border: 1px solid whit;
      border-radius: 10px; 
      font-size: 25px;
      margin: 15px 0 ; 
      margin-left: 35px;
      color: white;          
}


.formulario h3{margin: 0 0 10px 23px;
}

.social{margin-left: 23px;}



.formulario a:hover {background:black;
             color:yellow; 
             font-size: 23px;
             transition: .5s;
 }





  }